{% extends 'ecom/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block body %}
<section class="flex bg-white justify-center items-center p-8">
   <section class="bg-white justify-center items-center p-2 m-2">
      <div class="flex justify-between">
         <h2>Shopping Bag</h2>
         <h2>{{ cart.cartitem_set.count }} items</h2>
      </div>
      <hr class="border border-black m-2">
      <div id="hui">
         {% if cart.cartitem_set.exists %}
            {% for item in cart.cartitem_set.all %}
               <div class="flex bg-white flex-col">
                  <ul class="flex bg-gray-50 py-4 py-8 mx-16 justify-between border-b-4 border-gray-500 items-center">
                     <li class="relative -left-10 text-2xl">{{ forloop.counter }}</li>
                     <li><img src="/media/{{item.product.image}}" class="h-20" alt=""></li>
                     <li class="px-16 text-2xl">{{ item.product.name }}</li>
                     <li class="px-16 text-2xl">{{ item.quantity }}</li>
                     <li class="px-16 text-2xl">${{ item.product.price }}</li>
                     <li class="px-16 text-2xl"><a href="{% url 'remove_from_cart' item.product.id %}">Remove</a></li>
                  </ul>
               </div>
            {% endfor %}
         {% else %}
            <li>Your cart is empty.</li>
         {% endif %}
      </div>
   </section>
</section>
{% endblock %}