{% extends 'ecom/base.html' %}
{% load static %}

{% block title %} Collection {% endblock %}
{% block body %}
<section class="bg-gray-100 flex flex-col items-center">
    <div class="text-3xl my-4">Customer Care</div>
    <div class="text-xl w-1/3 text-center my-2">Have any questions or concerns ? We're always ready to help! Call us at
        123-456-7890 or send us an email at info@mysite.com</div>
    <div class="flex mt-4">
        <form class="flex flex-col" action="/customercare/" method="post">
            {% csrf_token %}
            <input class="border-2 px-2 py-1 border-black w-52 m-1.5" name="name" type="text" placeholder="Name">
            <input class="border-2 px-2 py-1 border-black w-52 m-1.5" name="email" type="email" placeholder="Email">
            <input class="border-2 px-2 py-1 border-black w-52 m-1.5" name="subject" type="text" placeholder="Subject">
            <textarea name="content" id="" class="border-2 border-black w-52 h-32 p-1 m-1"
                placeholder="Write here!"></textarea>
            <div class="flex justify-center">
                <button class="hover:border-2 px-4 py-2 m-2 hover: border-black active:bg-white">Submit</button>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="text-3xl text-center mt-10">FAQ</div>
    <div class="flex flex-wrap justify-around">

        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">How do I track my order?</div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">What are your delivery options? </div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">How do I return an item?</div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">How can I contact your couriers?</div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">Do you provide International delivery?</div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
        <div class="w-1/3 m-2 p-2">
            <div class="text-xl p-3 m-3">What is your returns policy?</div>
            <div class="text-lg p-3 m-3">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just
                click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                place for you to tell a story and let your users know a little more about you.</div>
        </div>
    </div>
</section>


{% endblock %}