{% extends 'ecom/base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block body %}
    <section>
       <section class="flex justify-center bg-neutral-100">
        <div>
            <img class="w-96" src="{% static './img/form.jpg' %}" alt="">
        </div>
        <div class="flex items-center justify-center flex-col w-96 bg-neutral-200">
            <h1 class="text-5xl">Officials</h1>
            <h2 class="text-3xl">Absolute Formal Look</h2>
            <br>
            <span class="text-xl cursor-pointer hover:underline"> <a href="/collection/#men">Shop Men</a></span>
        </div>
       </section> 

       <section class="flex justify-center bg-orange-50">
        <div class="flex items-center justify-center flex-col w-96 bg-orange-100">
            <h1 class="text-5xl">Traditionals</h1>
            <h2 class="text-3xl">Patakha Kudi Lagdi!</h2>
            <br>
            <span class="text-xl cursor-pointer hover:underline"><a href="/collection/#women">Shop Women</a></span>
        </div>
        <div>
            <img class="w-96 h-96" src="{% static './img/trad1.jpg' %}" alt="">
        </div>
       </section>
    </section>   
   
    <section class="bg-fuchsia-50">
        <br>
        <br>
        <div class=" mb-10 text-center text-5xl">Accessories</div>
        <section class="flex justify-around">
            <section class="mx-5 p-3">
                <div class="text-center  text-2xl">Watches</div>
                <img class="w-80 h-80" src="{% static './img/watch.jpg' %}" alt="">
            </section>
            <section class="mx-5 p-3">
                <div class="text-center  text-2xl">Glasses</div>
                <img class="w-80 h-80" src="{% static './img/glass.jpg' %}" alt="">
                
            </section>
            <section class="mx-5 p-3">
                <div class="text-center  text-2xl">Belts</div>
                <img class="w-80 h-80" src="{% static './img/belt.jpg' %}" alt="">

            </section>
        </section>
        <br>
        <div class="text-center text-3xl hover:underline"><a href="/collection/#acc"> And much more</a></div>
        <br>
        <br>
    </section>

    <br>
    <br>
    <h2 class="text-center  text-5xl">" Testimonials "</h2>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
              <div class="h-full text-center">
                <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="https://th.bing.com/th/id/OIP.hlF2FrpLR6K40uxAqktwJwHaHa?rs=1&pid=ImgDetMain">
                <p class="leading-relaxed">We are quite happy with your team’s work in the content creation process of our listing content, A+ images, and videos. The work done was quite creative which wasn't very easy for someone who does not know much about this category. We hope to continue working the same way in the near future too. But for now, it's really good going.</p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
                <p class="text-gray-500">Senior Product Designer</p>
              </div>
            </div>
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
              <div class="h-full text-center">
                <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="https://i.pinimg.com/originals/42/0d/5d/420d5d9e4713b2a665596c1ad71f0f23.jpg">
                <p class="leading-relaxed">Once again, your hard work does not go unnoticed, and I genuinely appreciate your dedication. All the team members did their best to deliver quality descriptions for the products. Really impressed with the quality and timely work.</p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">ALPER KAMU</h2>
                <p class="text-gray-500">UI Develeoper</p>
              </div>
            </div>
            <div class="lg:w-1/3 lg:mb-0 p-4">
              <div class="h-full text-center">
                <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="https://th.bing.com/th/id/OIP.F0nklFVAFWthF89OT3DsXgAAAA?w=474&h=474&rs=1&pid=ImgDetMain">
                <p class="leading-relaxed">Just wanted to thank you for all the great work your team has delivered. I really appreciate the quick turnaround and clear communication that you have demonstrated consistently over the last few months.</p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HENRY LETHAM</h2>
                <p class="text-gray-500">CTO</p>
              </div>
            </div>
          </div>
        </div>
      </section>


    <section class="bg-black flex justify-center">
        <br>
        <br>
        <section><a href="/collection/"><img class="p-8 mx-16 w-96 cursor-pointer" src="{% static './img/sale.png' %}" alt=""></a></section>
        <section><a href="/lookbook/"><img class="p-8 mx-16 w-96 cursor-pointer" src="{% static './img/Lookbook.png' %}" alt=""></a></section>
    </section>
    {% endblock %}