{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="flex m">   
        <div class="w-2/3">
            <img class="" src="{% static './img/loginbg.jpg' %}" alt="no image">
        </div>
        <div class="bg-black w-1/3 text-white flex justify-center flex-col items-center pb-12">
            <div class="my-10">
                <a href="/"><img class="w-64 items-center" src="{% static './img/logo.jpg' %}" alt=""></a>
            </div>
            <div>
                <h1 class="text-2xl mb-10" id="welcome">Welcome to Sajda</h1>
            </div>
            
            <form action="/signupmanage/" class="flex flex-col" method="post">
                {% csrf_token %}
                <h2 class="text-center text-2xl">Sign Up</h2>
                <br>
                <label for="name">Name:</label>
                <input class="mb-4 bg-black border-b w-72" type="text" id="name" name="name" required>
                <label for="username">Username:</label>
                <input class="mb-4 bg-black border-b w-72" type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input class="mb-4 bg-black border-b w-72" type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input class="mb-4 bg-black border-b w-72" type="password" id="password" name="password" required>
                <label for="cpassword">Confirm Password:</label>
                <input class="mb-4 bg-black border-b w-72" type="password" id="cpassword" name="cpassword" required>
                <input class=" bg-gray-400 w-1/2 self-center rounded-lg p-1.5 my-6 hover:bg-gray-500" type="submit" value="Sign Up">
            </form>
            

            <div>
                Already have an account? <a class="hover:underline px-1" href="/loginpg/">Log in then!</a>
            </div>
        </div>
    </section>

    <script>
        let btn1=document.querySelector("h1");
        btn1.addEventListener("click", eventFunc);
        function eventFunc()
        {
            console.log("button was clicked.");
        }
    </script>
</body>
</html>